body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Code for Header and Footer is in shared.css, it is common for all the pages of this application */

/* header {
    background-color: #3498db;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: rgba(255,255,255,0.2);
} */


main {
    flex: 1;
    padding: 20px;
}

#displayDataEntryContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#map { 
    width: 80%;
    height: 70vh;
}

#rightcontainer {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#entryForm {
    margin-bottom: 20px;
}

#entryForm input, #entryForm textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

#journalEntries {
    margin-top: 20px;
    overflow-y: auto;
    max-height: calc(70vh - 250px); /* Adjust based on your needs */
}

/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
} */