body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

h1, h2 {
    color: rgb(24, 7, 24);
}

#central-box {
    background-color: rgb(215, 206, 206);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10vw; /* Adjust 150px according to your box width */ 
    margin-right: 15vw;
    margin-top:5vh;
    height: fit-content;
    width: fit-content;
}

#counter {
    color: rgb(16, 1, 16);
    font-size: 14px;
    margin-bottom: 10px;
}

#question-container {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b30059;
}

#section-info {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #section-info .section-id {
    font-weight: bold;
    color: #333;
  }
  
  #section-info .section-title {
    font-size: 18px;
    margin-top: 10px;
  }
  
  #section-info .section-description {
    margin-top: 10px;
    color: #666;
  }
  